body {
    background: #f0ffff;
    width: 800px;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    margin: 0 auto;
}

#hoge {
    width: 100%;
}

.header-png {
    margin: 0 auto;
    z-index: 2; /*ヘッダーとメニューのzindexを一番上に表示することで他の物と被らなく*/
}

.ddmenu { /* http://ooigawa-bitter-sweet.hatenablog.com/entry/2015/04/12/233000 から*/
    zoom: 1;
    list-style-type: none;
    width: 800px;
    margin: 40px 0 0;
    padding: 0;
    position: fixed;
    z-index: 1;
    background-color: #1b2a78;
}

    .ddmenu:before, .ddmenu:after {
        content: "";
        display: table;
    }

    .ddmenu::after {
        clear: both;
    }

    .ddmenu li {
        position: relative;
        width: 160px;
        float: left;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

        .ddmenu li a {
            display: block;
            margin: 0 auto;
            padding: 15px 0 11px;
            background: #1b2a78;
            color: #fff;
            font-size: 14px;
            line-height: 1;
            text-decoration: none;
        }

        .ddmenu li ul {
            list-style: none;
            position: absolute;
            z-index: 9999;
            top: 100%;
            left: 0;
            margin: 0 auto;
            padding: 0;
        }

            .ddmenu li ul li {
                width: 100%;
            }

                .ddmenu li ul li a {
                    padding: 13px 10px;
                    border-top: 1px solid #7c8c0e;
                    background: #1b2a78;
                }

        .ddmenu li a:hover > a {
            background: #1b2a78;
        }

        .ddmenu li a:hover {
            background: #1b2a78;
        }

ul.ddmenu li:hover ul {
    display: block;
}

ul.ddmenu li ul {
    visibility: hidden;
    perspective: 400px;
}

ul.ddmenu li:hover ul {
    visibility: visible;
}

ul.ddmenu ul li {
    transform: rotateY(90deg);
    transform-origin: 50% 0;
    transition: .3s;
}

ul.ddmenu li:hover li {
    transform: rotateY(0);
}

ul.ddmenu ul li:nth-child(2) {
    transition-delay: .1s;
}

ul.ddmenu ul li:nth-child(3) {
    transition-delay: .2s;
}

ul.ddmenu ul li:nth-child(4) {
    transition-delay: .3s;
}

ul.ddmenu ul li:nth-child(5) {
    transition-delay: .4s;
}
.bar { /*お知らせと本校情報のｻﾗﾀﾞﾊﾞｰ*/
    margin: 0 auto;
    position: relative;
    padding: .5em.75em;
    background-color: #e8e8e8;
}

.SI { /*school informationの略*/
    line-height: 28px;
    font-size: 0.8rem;
    color: #FFF;
    background-color: #ff5d5d;
    margin: 0 auto;
    padding: 0 0.5em;
    float: left;
    border-radius: 0;
}

.news {
    line-height: 28px;
    font-size: 0.8rem;
    color: #FFF;
    background-color: #f8cc00;
    margin: 0 auto;
    padding: 0 0.5em;
    float: left;
    border-radius: 0;
}

hgroup { /*?*/
    position: fixed;
}

.tile { /*タイル用に調整中*/
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    float: left;
    width: 17rem;
    height: 17rem;
    padding: 1.25rem;
    padding-top: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    margin: 2rem;
    font-size: 14px;
}

    .tile h1 {
        margin: 0 auto;
        font-size: 14px;
    }

.slider { /* http://blog.keisuke11.com/webdesign/css-slider/ 広い物*/
          text-align:center;
    margin: 0 auto;
    width: 600px;
    height: 600px;
    overflow: hidden;
    position:relative;
    left:100px;
}

.slider-box {
    margin: 0 auto;
    width: 300%;
    position: relative;
    will-change: transform;
    animation: slider 15s infinite; /*とりあえず15秒*/
}

#slider-item {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    float: left;
    position: relative;
}

@keyframes slider { /*28%進むまでは画像が動かないようにして5%で次の画像に切り替えます　秒数は全体で15秒のはず*/
    0% {
        transform: translateX(0);
    }

    28% {
        transform: translateX(0)
    }

    33% {
        transform: translateX(-600px);
    }

    61% {
        transform: translateX(-600px);
    }

    66% {
        transform: translateX(-1200px);
    }

    94% {
        transform: translateX(-1200px);
    }

    100% {
        transform: translateX(0);
    }
}
.menuyoko ul{
    width:0;
    height:0;
}
    .menuyoko ul a li {
        position: relative;
        width: 165px;
        height: 78px;
        background: #1b2a78;
        list-style: none;
        top: -535px;
        right: 40px;
        padding: 0.5em 1em;
        margin: 0.4em 0;
        color: #5d627b;
        background: white;
        border-top: solid 5px #5d627b;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    }

.menuyoko p {
    margin: 0;
    padding: 0;
}
.bun {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #62c1ce;
    width:760px;
    background-color:white;
}

    .bun .box-title {
        position: absolute;
        display: inline-block;
        top: -27px;
        left: -3px;
        padding: 0 9px;
        height: 25px;
        line-height: 25px;
        vertical-align: middle;
        font-size: 17px;
        background: #62c1ce;
        color: #ffffff;
        font-weight: bold;
        border-radius: 5px 5px 0 0;
    }

    .bun p {
        margin: 0;
        padding: 0;
       
    }